<h1>{{part.storyPart}}</h1>
<p>Once upon a time, there was a {{part.animal}} named {{part.name}}.</p>
<p>He was only {{part.age}} years old, but he loved to travel.</p> 

<a href="beginning">Beginning</a>
<a href="middle">Middle</a>
<a href="end">End</a>