<h1>{{part.storyPart}}</h1>
<p>One day, Rupert decided to visit {{part.place}}.</p>
<p>So, he hopped on a {{part.travelVehicle}} to get there.</p>
<p>Once he got there, he decided to stay for at least {{part.yearsToStay}} years.</p>

<a href="beginning">Beginning</a>
<a href="middle">Middle</a>
<a href="end">End</a>
